{%  extends 'accounts/main.html' %}
{% load static %}

{% block content %}
<style>
    form div {
      display: inline-block;
      margin-right: 20px; /* Adjust the margin as needed */
      vertical-align: top; /* Align elements to the top */
    }
  
    label {
      display: block;
      margin-bottom: 5px;
    }
  </style>
<div class = "row">
    <div class = "col_md_6">
        <div class = "card card-body">




<form method="post">
    {% csrf_token %}
    {{formset.management_form}}

    {% for form in formset %}

    {{form}}
    <hr>
    {% endfor %}


    <input type="submit" name = "submit">
</form>

</div>
</div>
</div>

{% endblock %}